.searchContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  
}

.searchBox {
  position: relative;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
  border-radius: 10px;
  margin-top: 10px;
}

.searchInput {
  height: 35px;
  border-radius: 10px;
  padding: 5px 50px 5px 10px;
  margin-top: 20px;
}

