p {
  text-align: center;
  color: black;
  font-family: Arial;
  font-style: italic;
  font-size: 120%;
}

.imagen {
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
}

.imagen2 {
  justify-content: center;
  align-items: center;
  height: auto;
  margin: auto;
}

input {
  text-align: "center";
  justify-content: center;
}

.main {
  background-color: coral;
}

.texto {
  color: black;
  font-family: Arial;
  font-style: italic;
  font-size: 120%;
}

.titulo {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 220%;
  color: black;
}

.titulo2 {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 70%;
  color: black;
}

.margen {
  margin-left: 10%;
  margin-right: 10%;
}

.divContenedor {
  background-color: white;
}

.divCentrado {
  width: 110px; 
  margin-left: 50%;
  transform: translateX(-50%);
}

.divCentrado2 {
  width: 110px; 
  margin-left: 45%;
  transform: translateX(-50%);
}

@media (max-width: 900px) {
  .imagen {
    max-width: 470px;
  }

  .titulo {
    font-size: 150%;
  }

  .texto {
    font-family: Arial;
    font-style: italic;
    font-size: 100%;
  }

  .margen {
    margin-left: 5%;
    margin-right: 5%;
  }
}

